{% load crispy_forms_tags %}
<!-- templates/your_app_name/create.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>

<body>
    <h1>Edit a new blog</h1>

    <!-- edit.html -->

    <form method="post" enctype="multipart/form-data"> <!-- Add enctype for image -->
        {% csrf_token %}
        {{ form|crispy }} <!-- Render form using crispy forms -->
        {% if form.instance.image %}  <!-- Check if there's a current image -->
            <img src="{{ form.instance.image.url }}" alt="Current Image">  <!-- Display the current image -->
            <br>
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button> <!-- Add Bootstrap classes to the button -->
    </form>



    <a href="{% url 'index' %}">Back to index</a>
</body>

</html>