<!-- templates/your_app_name/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Index</title>
</head>
<body>
    <h1>Blog Index</h1>
    
    <ul>
        {% for blog in blogs %}
            <li>
                <strong>Title:</strong> <a href="{% url 'edit_blog' blog.id %}">{{ blog.title }}</a><br>
                <strong>Category:</strong> {{ blog.category.name }}<br>
                <strong>Published Date:</strong> {{ blog.pub_date|date:"F d, Y H:i" }}<br>
                {% if blog.image %}
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }} Image" style="max-width: 200px;"><br>
                {% endif %}
                <strong>Active:</strong> {% if blog.is_active %}Yes{% else %}No{% endif %}<br>
            </li>
            <br>
        {% endfor %}
    </ul>

    <a href="{% url 'create_blog' %}">Create a new blog</a>
</body>
</html>
