<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Ecommerce App{% endblock %}</title>
    <!-- Add your stylesheets, scripts, or CDN links here -->

    <!-- Include Alpine.js -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Add your scripts or additional content here -->
</body>
</html>
